<div class="kofi" id="kofi">
<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#141414', 'H2H814TXG');kofiwidget2.draw();</script> 
</div>