html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  transition: 1s all;
  margin: 0;  
}

#mapid {

  width: 100%; 
  height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
	z-index:0;
/*     opacity: 0.5; */
}

.container {

  width: 100%;
  height: 100%;
  position:relative;
}

.available-bikes {
	vertical-align: middle;
	display: flex;
	margin: 0px;
	align-items: center;
}

.inner {

  padding: 5%;
}

p {
  font-family: 'Poppins', sans-serif;
/*   font-weight: 600; */
  font-size: 1em;
  margin: 0;
}

a {
  color: #00B2B2;
  text-decoration: none;
}

/* Layout */

canvas {
}

.available_bikes_wrapper {

	height: 40px;
    width: 80px;
    max-width: 80px;
    max-height: 40px;
    border-radius: 15px;	
    position:absolute;
	background-color:red;
	text-align: center;
	top:40px;
	display:table-cell;
	margin-right: 80px;
 	opacity:0.95;
 
 	-webkit-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);

	z-index:10;
}

.wrapper {

    height: 25%;
    width: 95%;
    max-width: 95%;
    max-height: 25%;
    border-radius: 15px;
	background-color:white;
	position:absolute;
	bottom:20px;
	display:none;
	margin-left: 2.5%;
 	margin-right: 2.5%;
 	opacity:0.95;
 		
 	-webkit-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);	
}

.segmented_control_wrapper {

	height: 100px;
    width: 200px;
    max-width: 200px;
    max-height: 100px;
    border-radius: 15px;
	position:absolute;
	
	top:0px;
	display:block;
	margin-left: calc(50% - 100px);
 	margin-right: calc(50% - 100px);
 	opacity:0.95;
 	
	z-index:10;
}

.Flex {
  display: flex;
}

.segmented-control {

 	-webkit-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);
    display: table;
    width: 100%;
    background-color: orange;
	border-radius: 15px;
/*     margin: 2em 0; */
    padding: 0;
}

.segmented-control__item {
    display: table-cell;
    margin: 0;
    padding: 0;

    background-color: #A8A8A8;
    list-style-type: none;
}

.segmented-control__input {
    position: absolute;
    visibility: hidden;
}

.segmented-control__label {
    display: block;
    margin: 0 -1px -1px 0; /* -1px margin removes double-thickness borders between items */
    padding: 1em .25em;
    border: 1px solid #ddd;
	color: white;
    font: 14px/1.5 sans-serif; 
    text-align: center;  
    cursor: pointer;
}



.segmented-control__label:hover {
    background: #fafafa;
    color: gray;
}

.segmented-control__input:checked + .segmented-control__label {
    background: #EBEBEB;
    color: #333;
}