<html>
<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140485405-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-140485405-1');
	</script>

	  <title>Blog</title>
	<link href="/resources/styles-blog.css" rel="stylesheet" type="text/css">
	  	<style>

	  	</style>
    	    
    <script>
		function clickedPost() {
		
			console.log("CLICKED POST")
		}
    </script>
</head>
 <body class="body" id="boo">

	 <div class="inner">
	 
	 <p class="Poppins" id="section"><mark id="section">Blog</mark></p>

    <div class="list-group">
      <!-- loop over blog posts and render them -->
      <% posts.forEach((post) => { %>
        <p><a href="/blog/<%= post %>"><%= post %></a></p><br>

      <% }) %>
    </div>
    
    </div>


</body>
</html>
