<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140485405-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140485405-1');
</script>


	  <title>Blog</title>
	<link href="/resources/styles.css" rel="stylesheet" type="text/css">
	  	<style>

	  	</style>
    	    
    <script>
    </script>
</head>
 <body class="body">

	 <div class="inner">
	 	 
		 <div class="header">
				<div class="title">
					<strong>Blog</strong>
				</div>
						 <p class="Poppins"><a href='https://ko-fi.com/H2H814TXG'>Support me & my projects on Ko-fi ☕️</a></p>
				<div>
				</div>



		<div>
		  <!-- loop over blog posts and render them -->
		  <% posts.forEach((post) => { %>
		  <div class="title"><strong><a href="/blog/<%= post.title %>"><%= post.title.replace(/_/g, " ") %></a></strong></div>
			<div class="subtitle"><%= post.date %></div>
<!-- 
			<div>
				<%- post.content %>
			</div>
 -->
		  <% }) %>
		</div>
    
    </div>
</body>
</html>
