<html>
<head>


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140485405-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-140485405-1');
	</script>

	  <title><%= data.title %></title>
	<link href="/resources/styles.css" rel="stylesheet" type="text/css">
	
    <script>	
    </script>
</head>
 <body onload="init()" class="body">

	 <div class="inner">
	 
		<div class="title"><%= data.title %></div>
		<div class="subtitle"><%= data.date %></div>
		
	<div>
	<p class="Poppins"><a href='https://ko-fi.com/H2H814TXG'>Support me & my projects on Ko-fi ☕️</a></p>

</div>

		<div class="Poppins">
			<%- content %>
		</div>
    </div>


	
</body>
</html>
