<html>
<head>
	  <title><%= data.title %></title>
	<link href="/resources/styles.css" rel="stylesheet" type="text/css">
	
    <script>	
    </script>
</head>
 <body onload="init()" class="body">

	 <div class="inner">
	 
	 		 <div class="header">
				<div class="title">
					<h2><%= data.title %></h2>
				</div>
						<div class="subtitle"><%= data.date %></div>
						
							<p class="Poppins"><a href='https://ko-fi.com/H2H814TXG'>Support my projects on Ko-Fi!️</a></p>
				</div>
		
	<div>

</div>

		<div class="Poppins">
			<%- content %>
		</div>
    </div>


	
</body>
</html>
