<html>
<head>

	  <title>Bike Sharing Services Predictions</title>
	  	<link rel="stylesheet" href="../resources/styles.css">

		<meta name="description" content="Bike sharing availability predictions with Machine Learning, web and iOS app">

	    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-itunes-app" content="app-id=1275889928">
</head>
<main>    
			
<h1>Neural Bikes</h1>

<!-- <div><a href="https://apps.apple.com/us/app/neural-bikes/id1275889928?itsct=apps_box&amp;itscg=30200" style="display: inline-block; overflow: hidden; border-top-left-radius: 13px; border-top-right-radius: 13px; border-bottom-right-radius: 13px; border-bottom-left-radius: 13px; width: 250px; height: 83px;"><img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-US?size=250x83&amp;releaseDate=1553126400&h=4e41da0bb884652e7d748949f9f2a8ad" alt="Download on the App Store" style="border-top-left-radius: 13px; border-top-right-radius: 13px; border-bottom-right-radius: 13px; border-bottom-left-radius: 13px; width: 150px; height: 83px;"></a></div> -->


<p><b>Automated live bike sharing demand predictions using machine learning and open data</b>. The development of this project has been continuous since four years ago by one individual. If you are using this as a company please consider sponsoring the development.</p>

<p><a href="https://apple.co/3mCegO4">Download</a> the iOS app.</p>

<p class="Poppins">This project is ad-free & with no trackers, <a href='https://ko-fi.com/javierdemartin'>support it!</a></p>


<h3>Available cities</h3>

<div>
	<p><a href="/bilbao">Bilbao</a> - Bilbao Bizi</p>
	<p><a href="/madrid">Madrid</a> - BiciMAD</p>
	<p><a href="/newyork">New York</a> - citibike</p>
	<p>Paris - Coming soon</p>
	<p>London - Coming soon</p>	
</div>
			
<h3>Support</h3>

<p>If you have any suggestions or want to get in touch please do so by <a href="mailto:javierdemartin@me.com">mail</a> or <a href="https://twitter.com/javierdemartin">twitter</a>.</p>

<p><b>Code is Open Source, machine learning (<a href="https://github.com/javierdemartin/neural-bikes">code</a>) & ios app (<a href="https://github.com/javierdemartin/bicis">code</a>)</b></p>
</main>
</html>
