<html>
<head>

	  <title>Bike Sharing Services Predictions</title>
	  	<link rel="stylesheet" href="../resources/styles.css">

		<meta name="description" content="Bike sharing availability predictions with Machine Learning, web and iOS app">

	    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-itunes-app" content="app-id=1275889928">
</head>
<main>    
			
<h1>Neural Bikes</h1>

<p><b>Automated live bike sharing demand predictions using machine learning and open data</b>.<p/> 

<img async src="../resources/screenshot.PNG"/>

<p><a href="https://apple.co/3mCegO4">Download</a> the iOS app.</p>

<p>API is free to use and get the prediction and availability history per city, <a href="/docs">documentation</a>.</p>

<h3>Available cities</h3>

<div>
	<p><a href="/bilbao">Bilbao</a> - Bilbao Bizi</p>
	<p><a href="/madrid">Madrid</a> - BiciMAD</p>
	<p><a href="/newyork">New York</a> - citibike</p>
	<p>Paris - Live in iOS app</p>
	<p>London - Coming soon</p>	
</div>
			
<h3>Support</h3>

<p>If you have any suggestions or want to get in touch please do so by <a href="mailto:javierdemartin@gmail.com">mail</a> or <a href="https://twitter.com/javierdemartin">twitter</a>.</p>

<p><b>Code is Open Source, machine learning (<a href="https://github.com/javierdemartin/neural-bikes">code</a>) & ios app (<a href="https://github.com/javierdemartin/bicis">code</a>)</b></p>

<p>The development of this project has been continuous since four years ago by one individual. If you are using this as a company please consider <a href='https://ko-fi.com/javierdemartin'>sponsoring</a> the development.</p>

</main>
</html>