<html>
<head>

	  <title>Bike Sharing Services Predictions</title>
	  	<link rel="stylesheet" href="../resources/styles.css">

		<meta name="description" content="Bike sharing availability predictions with Machine Learning, web and iOS app">

	    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
      


</head>
<body>    

	<div class="inner">


<div class="header">
			
    <div class="title">
		<h2>neural bikes</h2>
    </div>
			
<br>
<div class="subtitle">
automated live bike sharing predictions using machine learning and open data
</br></br>

open source, machine learning (<a href="https://github.com/javierdemartin/neural-bikes">code</a>) & ios app (<a href="https://github.com/javierdemartin/bicis">code</a>)

</br></br>

<a href="http://app.neural.bike">download</a> the ios app
</div>
<div class="subtitle">
						 <p class="Poppins">this project is ad-free & with no trackers, <a href='https://ko-fi.com/H2H814TXG'>support it on ko-fi</a></p>
</div>
<!-- </div> -->

</br>

<!-- 		<div class="temporal-positions"> -->
						<div class="section" style="padding-top: 0px; padding-bottom: 3px; margin-bottom: 20px; border-bottom: 1px solid #C8CACA;">
						Available cities
						</div>



			<div class="temporal-position">
				<div class="positions">
					<div class="position"><p class="position-detail"><a href="/bicis/bilbao">bilbao</a> - bilbao bizi</p></div>
					
					<div class="position"><p class="position-detail"><a href="/bicis/madrid">madrid</a> - bicimad</p></div>
					
					<div class="position"><p class="position-detail"><a href="/bicis/newyork">new york</a> - citibike</p></div>
					
<!-- 					<div class="position"><p class="position-detail"><a href="/blog/Launching_Neural_Bikes_API">json api</a></p></div> -->
				</div>
				
			</div>
			
<div class="section" style="padding-top: 0px; padding-bottom: 3px; margin-bottom: 20px; border-bottom: 1px solid #C8CACA;">
Support
</div>
		

			<div class="temporal-position">
				<div class="positions">
				<div class="position">
				<p>If you have any suggestions or want to get in touch please do so by <a href="mailto:javierdemartin@me.com">mail</a> or <a href="https://twitter.com/javierdemartin">twitter</a></p>
					</div>
				</div>
			</div>
			</div>
</body>
</html>
