<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140485405-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140485405-1');
</script>
	  <title>Bike Sharing Services Predictions</title>
	  	<link rel="stylesheet" href="../resources/styles.css">

		<meta name="description" content="Consulta y predicción de disponibilidad del servicio de bicicletas de Bilbao, Bilbao Bizi.">

	    <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
      


</head>
<body>    

<div class="header">
<br>
<div class="subtitle">
Bike sharing availability predictions using neural networks. Predictions are updated daily and live availability is udpated every ten minutes.
</div>
<div class="subtitle">
Open Source Project, <a href="http://code.neural.bike">GitHub</a> and <a href="http://app.neural.bike">iOS app.
</div>
<div class="subtitle">
<script style="margin: 0 auto;" type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support the project', '#29abe0', 'H2H814TXG');kofiwidget2.draw();</script> 
</div>
</div>
     
<div class="title"><a href="/bicis/bilbao">Bilbao</a></div>
<div class="subtitle">Bilbao Bizi</div>

<div class="title"><a href="/bicis/madrid">Madrid</a></div>
<div class="subtitle">BiciMAD</div>

<div class="title"><a href="/bicis/newyork">New York</a></div>
<div class="subtitle">Citi Bike NYC</div>

<div class="title"><a href="/blog/Launching_Neural_Bikes_API">API</a></div>
<div class="subtitle">JSON with predictions/availability</div>

<div class="title">More coming soon</div>
<div class="subtitle">Seattle, Stockholm, London...</div>



</body>
</html>
