<html>
<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140485405-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-140485405-1');
	</script>

	  <title>Bike Sharing Services Predictions</title>
<!-- 	  	<link rel="stylesheet" href="../styles-map.css"> -->

		<meta name="description" content="Consulta y predicción de disponibilidad del servicio de bicicletas de Bilbao, Bilbao Bizi.">
	<style>
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  transition: 1s all;
  margin: 0;  
}

#mapid {

  width: 100%; 
  height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
	z-index:0;
/*     opacity: 0.5; */
}

.container {

  width: 100%;
  height: 100%;
  position:relative;
}

.available-bikes {
	vertical-align: middle;
	display: flex;
	margin: 0px;
	align-items: center;
}

.inner {

  padding: 5%;
}

p {
  font-family: 'Poppins', sans-serif;
/*   font-weight: 600; */
  font-size: 1em;
  margin: 0;
}

a {
  color: #00B2B2;
  text-decoration: none;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.Poppins {
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 1em;
}

/* Layout */

.wrapper {
    height: 20%;
    width: 65%;
    max-width: 65%;
    max-height: 25%;
    border-radius: 15px;
	background-color:white;
	position:absolute;
	margin: auto;
	bottom:20px;
	display:none;
 	opacity:0.95;
	margin-left: 17.5%;
 	margin-right: 17.5%;
 		
 	-webkit-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);
}

#myChart {

	display:none;
}

.segmented_control_wrapper {

	height: 60px;
    width: 200px;
    max-width: 200px;
    max-height: 60px;
	position:absolute;
	
	top:0px;
	display:block;
	margin-left: calc(50% - 100px);
 	margin-right: calc(50% - 100px);
 	opacity:0.95;
	z-index:10;
}

.Flex {
  display: flex;
}

.segmented-control {

 	-webkit-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);
    display: table;
    width: 100%;
/*     margin: 2em 0; */
    padding: 0;
}

.segmented-control__item {
    display: table-cell;
    margin: 0;
    padding: 0;

    background-color: #A8A8A8;
    list-style-type: none;
}

.segmented-control__input {

    position: absolute;
    visibility: hidden;
}

.segmented-control__label {
    display: block;
    margin: 0 -1px -1px 0; /* -1px margin removes double-thickness borders between items */
    padding: 1em .25em;
    border: 1px solid #ddd;
	color: white;
    font: 14px/1.5 sans-serif; 
    text-align: center;  
    cursor: pointer;
}



.segmented-control__label:hover {
    background: #fafafa;
    color: gray;
}

.segmented-control__input:checked + .segmented-control__label {
    background: #EBEBEB;
    color: #333;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
  /* Styles */
    .wrapper {
    width: 75%;
    max-width: 75%;
    margin-left: 12.5%;
 	margin-right: 12.5%;
   }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  /* Styles */
    .wrapper {
    width: 95%;
    max-width: 95%;
    margin-left: 2.5%;
 	margin-right: 2.5%;
   }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  /* Styles */
    .wrapper {
    width: 65%;
    max-width: 65%;
    margin-left: 17.5%;
 	margin-right: 17.5%;
   }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  /* Styles */
    .wrapper {
    width: 75%;
    max-width: 75%;
    margin-left: 12.5%;
 	margin-right: 12.5%;
   }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  /* Styles */
    .wrapper {
    width: 55%;
    max-width: 55%;
    margin-left: 22.5%;
 	margin-right: 22.5%;
   }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  /* Styles */
    .wrapper {
    width: 35%;
    max-width: 35%;
    margin-left: 32.5%;
 	margin-right: 32.5%;
   }
}


/* Pen-specific styles */
* {
  box-sizing: border-box;
}
body {
  font-size: 1.25rem;
  font-family: sans-serif;
  line-height: 150%;
  text-shadow: 0 2px 2px #b6701e;
}

section {
  color: #fff;
  text-align: center;
}

div {
  height: 100%;
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
  display: table;
  width: 100%;
}

.left-half {
  background-color: black;
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half {
  background-color: black;
  position: absolute;
  right: 0px;
  width: 50%;
}
	</style>

	    <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    
    <script>
    function selectedCity(city) {
    	window.location.href = "bicis/" + city;

    }
    </script>

</head>
<body>    

     
<section class="container">
  <div class="left-half" id="bilbao" onClick="selectedCity(this.id)">
    <article>
      <h1>Bilbao</h1>
    </article>
  </div>
  <div class="right-half" id="madrid" onClick="selectedCity(this.id)">
    <article>
      <h1>Madrid</h1>
    </article>
  </div>
</section>



</body>
</html>
