<html>
<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140485405-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-140485405-1');
	</script>

	  <title>Bike Sharing Services Predictions</title>
	  	<link rel="stylesheet" href="../resources/styles.css">

		<meta name="description" content="Consulta y predicción de disponibilidad del servicio de bicicletas de Bilbao, Bilbao Bizi.">

	    <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
      


</head>
<body>    

     
<div class="title"><a href="/bicis/bilbao">Bilbao</a></div>
<div class="subtitle">Bilbao Bizi</div>

<div class="title"><a href="/bicis/madrid">Madrid</a></div>
<div class="subtitle">BiciMAD</div>

<div class="title"><a href="/bicis/newyork">New York</a></div>
<div class="subtitle">Citi Bike NYC</div>

<div class="title"><a href="/blog/Launching_Neural_Bikes_API">API</a></div>
<div class="subtitle">JSON with predictions/availability</div>



</body>
</html>
