* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale
}

@media (prefers-color-scheme: dark) {
  body {
  	color: white;
  }

  
  html {
	background-color: black;
  }
  
  h1 {
  	color: green;
  }
  
  a:link {
    color: green;
    text-decoration:underline;
  }

  pre {
    background: #0a0a0a;
    border: 1px solid #0a0a0a;
    border-left: 3px solid #398F9B;
    color: #d1d1d1;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
  }
}

.passive {
  font-weight: normal;
  color: #C8CACA;
}

.section {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #4B4B4B;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.meta {
  font-family: 'Roboto Mono', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    letter-spacing: 1px;
  color: #4B4B4B;
  text-transform: uppercase;
}

@media (prefers-color-scheme: light) {


  pre {
      background: #f4f4f4;
      border: 1px solid #ddd;
      border-left: 3px solid #398F9B;
      color: #666;
      page-break-inside: avoid;
      font-family: monospace;
      font-size: 15px;
      line-height: 1.6;
      margin-bottom: 1.6em;
      max-width: 100%;
      overflow: auto;
      padding: 1em 1.5em;
      display: block;
      word-wrap: break-word;
  }

}

html {
    font-family:-apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {

  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-left: 10px;
  margin-right: 10px; 
}​

@media (min-width: 600px) {
  
  .inner {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*@media (max-width: 600pt) {
    body {
        text-align:center
    }

    .temporal-position {
        flex-direction: column;
        margin-bottom:10pt
    }

    .temporality {
        margin-bottom: 4pt;
        width:auto
    }

    .position {
        margin-bottom: 5pt
    }
}*/

@media (min-width: 800px) {

  .inner {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.title {
    margin-top: 30pt;
    text-align: left;
}

.subtitle {
    margin-top: 10pt;
    /*max-width: 500pt;*/
    text-align: left;
    
}

p, li, ul {
	text-align: left;
}

.temporal-position {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom:4pt
}

a:link, a:visited {
    color: #398F9B;
    text-decoration:underline
}

code {
/* background: hsl(220, 80%, 90%);  */
    font-family: monospace;
    font-size: 15px;
    }



/* Pattern styles */
.container {
  display: table;
  width: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
