* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale
}

@media (prefers-color-scheme: dark) {
  body {
  	color: white;
  }
  
  html {
	background-color: black;
  }
  
  h1 {
  	color: green;
  }
  
  a:link {
    color: green;
    text-decoration:underline;
}
}

html {
    font-family:-apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif
}

body {
  display: flex;
  flex-direction: column;
/*   justify-content: center; */
  align-items: center;
/*   text-align: center; */
/*   min-height: 90vh; */
}

.inner {

  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}​

@media (min-width: 600px) {
  
  .inner {
    width: 580px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 800px) {

  .inner {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

h1 { 
/*   font-size: 5em; */
}

.title {
    margin-top: 50pt;
/*     font-size:1em; */
    text-align: left;
}

.subtitle {
    margin-top: 6pt;
    max-width: 500pt;
/*     font-size: 12pt; */
    color:#857769;
    text-align: left;
    
}

p, li, ul {
	text-align: left;
}

.temporal-positions {
    margin-top:40pt
}

.temporal-position {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom:4pt
}

.temporality {
    color: #fa3c5a;
    width: 100pt;
/*     font-size: 9pt; */
    letter-spacing: 3.06px;
    line-height:12pt
}

.temporality-text {
    vertical-align:middle
}

.position {
/*     font-size: 12pt; */
    margin-bottom:4pt
}

.position-detail {
/*     font-size: 12pt; */
    margin-bottom: 7pt;
    color:#857769;
	text-align: left;   
}

.position-spacing {
    margin-bottom:12pt
}

a:link, a:visited {
    color: #398F9B;
    text-decoration:underline
}

@media (max-width: 600pt) {
    body {
        text-align:center
    }

    .temporal-position {
        flex-direction: column;
        margin-bottom:10pt
    }

    .temporality {
        margin-bottom: 4pt;
        width:auto
    }

    .position {
        margin-bottom: 5pt
    }
}

/* Pattern styles */
.container {
  display: table;
  width: 100%;
}

.left-half {
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half {
  position: absolute;
  right: 0px;
  width: 50%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
/*   width: 80%; */
  height: 550px;

}
