<html>
<head>
	  <title>Análisis servicios bicicletas 2020</title>
	<link href="/resources/styles.css" rel="stylesheet" type="text/css">
	
    <script>	
    </script>
</head>
 <main>
	<%- body %>
	
</main>
</html>
