<html>
<head>
	  <title>Privacy</title>
	<link href="/resources/styles.css" rel="stylesheet" type="text/css">
	
    <script>	
    </script>
</head>
 <body class="body">

	 <div class="inner">
		<div class="Poppins">
			<%- body %>
		</div>
    </div>


	
</body>
</html>
